- @title = "Edit ChiliProject Plugin"
- @h1 = "Edit Plugin"
- @selected = :plugins

- form_for @plugin, :html => {:multipart => true} do |f|
  = render :partial => "fields", :locals => {:f => f}
  %p.buttons
    %button{:type=>"submit"} Save Changes
    or
    = link_to "Cancel", :back, :class => "cancel"